<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
  </head>
  <body>
    <h2>Chat</h2>
    <!-- <h3><%= id %></h3> -->

    <div class="menu">
      <a href="" title="Créer un compte" id="creerCompte">Créer un compte</a>
      <a href="" title="Connexion" id="connexion">Se connecter</a>
      <a href="" title="Déconnexion" id="deconnexion">Se déconnecter</a>
    </div>

    <div class="salon">
      <table>
        <caption>
          Salons
        </caption>
        <tr></tr>

        <form class="salonForm">
          <input
            type="text"
            name="salonName"
            id="salonName"
            placeholder="Nom salon"
            required
          />
          <input type="submit" id="creerSalon" />
        </form>
        <!-- liste des groupes auxquel appartient le user -->
      </table>
    </div>

    <div class="msgListContainer">
      <ul class="listeMsg"></ul>
      <!-- actualiser historique messages en  fonction du groupe choisi -->
    </div>

    <div id='msgBox'>
      <div class="envoiMsg">
        <form class="submitMsg">
          <label for="message">Message</label>
          <input
            type="text"
            name="message"
            id="message"
            placeholder="message"
            maxlength="300"
            required
          />

          <input type="submit" name="envoiMsg" id="envoiMsg" value="Envoyer" />
        </form>
      </div>
      <button type="button" id="codeFormat"> Format Code</button>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
      const sessionId = <%= id %>;
      const socket = io("http://localhost:8080", {query:{id: sessionId}});
      const msgForm = document.querySelector(".submitMsg");
      const msgList = document.querySelector(".listeMsg");
      const msg = document.querySelector("#message");
      const salon = document.querySelector(".salon");
      const buttonSalon = document.querySelector("#creerSalon");

      // const msgValue = document.querySelector('msg.value');

      let btn = document.querySelector('#codeFormat'); 
      let p = document.querySelector('p');
      let selection;
      


      btn.addEventListener("click", e =>{

        function textSelection(event) {
          selection = event.target.value.substring(event.target.selectionStart, event.target.selectionEnd);
      }
      if (selection !== ''){
        msg.value.innerHTML.replace(msg.value, '<code>' + msg.value + '</code>');
      }else{
        msg.value.innerHTML.replace(msg.value, '<code>' + msg.value + '</code>');
      }
      console.log(selection);
    });





      msgForm.addEventListener("submit", (e)=>{
        e.preventDefault();
        console.log("sent");
        console.log(msg.value);
        socket.emit("newMsg", {msg:msg.value, sender: sessionId} );
        createMsg(msg.value, sessionId);
        msg.value="";
      });

      buttonSalon.addEventListener("click", (e)=>{
        e.preventDefault();
        socket.emit("createSalon");
      })

      socket.on("msgIncoming", (data)=>{

        createMsg(data.msg, data.id);

      })


      function createMsg(msg, id){
        let li = document.createElement("li");
        li.classList.add(id == sessionId ? "ownMsg" : "receivedMsg");
        li.innerText = msg;
        msgList.append(li);
        msgList.scrollTop = msgList.scrollHeight - msgList.clientHeight;
      }
    </script>
  </body>
</html>
