<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=non">
    <title>Blabla Tchat</title>
</head>
<body>
    
<form method="POST" action="/connection" id="formConnexion">
    <fieldset>
        <legend>CONNEXION</legend>
        <input type="pseudo" name="pseudoConnexion" id="pseudoConnexion" placeholder="pseudo" required/>
        <input type="password" name="pwdConnexion" id="pwdConnexion" placeholder="mot de passe" minlength="8" required/>
        <input type="submit" name="validationConnexion" id="validationConnexion" value="Login"/>
        <input type = "submit" name="creationCompte" id="creationCompte" value="Sign Up"/>
    </fieldset>
</form>
<% if (info) { %>
    <h2><%= info %></h2>
  <% } %>
<script src="./scripts/connect.js"></script>
</body>
</html>